html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #000;
  font-size: 100%;
}
#image-picker {
  position: absolute;
  z-index: 1;
  background: #111;
  border: 1px solid #888;
  color: #eee;
  width: 300px;
  padding: 10px;
  left: 200px;
  top: 10px;
}
#image-picker ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#image-picker li {
  margin: 0;
  padding: 0;
  display: inline;
}
#image-picker input[type='radio'] {
  margin: 0;
  position: absolute;
  left: -9999px;
}
#image-picker img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #888;
  cursor: pointer;
}
#image-picker img:hover {
  border: 1px solid #ccc;
}
#image-picker input:checked + img {
  border: 1px solid #fff;
  cursor: default;
}
#image-picker #upload {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #888;
  cursor: pointer;
  text-indent: -9999px;
}
#image-picker #upload:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 300%;
  font-weight: bold;
  line-height: 100px;
  color: #888;
  text-indent: 0;
  content: '+';
}
#image-picker #upload:hover {
  border: 1px solid #ccc;
  color: #ccc;
}
#image-picker input[type='file'] {
  position: absolute;
  left: -9999px;
}
#emitter {
  width: 300px;
  height: 300px;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  margin-left: -150px;
  background: black;
  border: 1px solid black;
  z-index: 999;
}
.graph {
  position: absolute;
  width: 100%;
  height: 110px;
  border-top: 1px solid #222;
}
#input-graph {
  bottom: calc(110px - 1px);
}
#output-graph {
  bottom: 0;
}
#camera {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  border: 1px solid #222;
}
#pixel {
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(100px + 10px);
  right: 0;
  margin: 10px;
  border: 1px solid #222;
}
#input {
  position: absolute;
  bottom: 220px;
  left: 0px;
  margin: 10px;
  width: 64px;
  height: 64px;
  border: 1px solid #222;
}
#output {
  position: absolute;
  bottom: 220px;
  left: calc(64px + 10px);
  margin: 10px;
  width: 64px;
  height: 64px;
  border: 1px solid #222;
}
#buttons {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0;
}
#buttons > button {
  background: #222;
  color: #ccc;
  border: 1px solid #888;
  box-sizing: border-box;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0;
  margin-right: 10px;
  font-size: 0.75rem;
  line-height: 15px;
  height: 30px;
  font-family: monospace;
}
#buttons > button[disabled] {
  opacity: 0.5;
  cursor: wait;
}
#buttons > button:not([disabled]):hover {
  color: #eee;
  border-color: #eee;
}
#status {
  position: absolute;
  color: #ccc;
  top: 50px;
  left: 10px;
  font-size: 0.75rem;
  line-height: 15px;
  font-family: monospace;
}
