
html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #000;
}
#emitter {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  margin-left: -25px;
}
#graph {
  background: #222;
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  border-top: 1px solid #222;
}
#camera {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  border: 1px solid #222;
}
#pixel {
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(100px + 10px);
  right: 0;
  margin: 10px;
  border: 1px solid #222;
}
#input {
  position: absolute;
  bottom: 200px;
  left: 0px;
  margin: 10px;
  width: 256px;
  height: 256px;
  border: 1px solid #222;
}
#output {
  position: absolute;
  bottom: 200px;
  left: calc(256px + 10px);
  margin: 10px;
  width: 256px;
  height: 256px;
  border: 1px solid #222;
}
#buttons {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0;
}
#buttons > button {
  background: #222;
  color: #ccc;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0;
  margin-right: 10px;
}
#buttons > button:hover {
  color: #eee;
  border-color: #eee;
}
